body {
background-color: #90977F;  
margin: 0;
padding: 0;
}
/* styles in App component */
.App {
  display: block;
  width: 23%;
  height: 57vh;
  margin: auto auto;
  text-align: center;
  background-color: rgb(73, 73, 123);
  border-radius: 10px;
  padding: 1em;
  margin-top: 2em;
}
.buttonsDiv {
  display: grid;
  /* border: 3px solid red; */
  grid-template-columns: repeat(2,180px);
  grid-template-rows: repeat(auto-fill, 1fr);
  align-items: baseline;
  width: 100%;
  margin: 10px 0 0 5px;
}
/* styles for number & actions buttons */
.numbersDiv {
  margin: 5px;
  display: grid;
  width: 70%;
  grid-template-columns: repeat(auto-fill, 50px);
  grid-template-rows: repeat(auto-fill, 30px);
  place-content: center;
  justify-content: center;
  align-items: center;
  gap: 25px;
  /* border: 3px solid red; */
}
.numbersDiv button, .actionsDiv button {
  width: 50px;
  height: 30px;
  border-radius: 10px;
  border: none;
  cursor: pointer;
}
.numbersDiv button:hover, .actionsDiv button:hover {
  color: white;
  background-color: rgb(126, 126, 167);
  transition: 0.3s;
}
.seperator {
  display: flex;
  flex-direction: column;
  width: 0px;
  height: 100%;
  /* border: 3px solid red; */
}
/* styles for actions buttons */
.actionsDiv {
  display: grid;
  grid-template-columns: repeat(auto-fill,50px);
  grid-template-rows: repeat(auto-fill, 30px);
  /* border: 3px solid red; */
  gap: 25px;
  margin: -25px;
  width: 70%;
}
/* styles for text line */
.lineDiv input{
  width: 95%;
  height: 50px;
  font-size: 40px;
  border-radius: 10px;
  border: none;
}
/* style for clear button */
.clearBtn{
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* border: 3px solid red; */
  width: 127px;
}
.clearBtn button :nth-child(){
  width: 430px;
  /* margin-left: 5px; */
}

@media screen and (min-width: 360px) and (max-width: 389px) {
  .App {
    width: 80%;
    height: 50vh;
  }

  .buttonsDiv {
    margin: 10px 0 0 10px; 
  }
}
@media screen and (min-width: 390px) and (max-width: 411px) {
  .App {
    height: 40vh;
  }
}

@media screen and (min-width: 412px) and (max-width: 767) {
  .App {
    height: 37vh;
  }

  .buttonsDiv {
    margin: 10px 0 0 25px; 
  }
}

@media screen and (min-width: 768px) and (max-width: 819px) {
  .App {
    width: 40%;
    height: 35vh;
  }
  .buttonsDiv {
    margin-left: 13px;
    margin-top: 20px;
  }
}

@media screen and (min-width: 820px) and (max-width: 911px) {
  .App {
    width: 40%;
    height: 30vh;
  }
}

@media screen and (width: 912px)   {
  .App {
    width: 32%;
    height: 25vh;
  }
}
