body {
  margin: 0;
  padding: 0;
}
/* styles in App component */
.App {
  display: block;
  width: 23%;
  height: 57vh;
  margin: auto auto;
  text-align: center;
  border: 3px solid blue;
  border-radius: 10px;
  padding: 1em;
}
.buttonsDiv {
  display: grid;
  border: 3px solid red;
  grid-template-columns: repeat(2,180px);
  grid-template-rows: repeat(auto-fill, 1fr);
  align-items: baseline;
  width: 100%;
}
/* styles for number & actions buttons */
.numbersDiv {
  margin: 5px;
  display: grid;
  width: 70%;
  grid-template-columns: repeat(auto-fill, 50px);
  grid-template-rows: repeat(auto-fill, 30px);
  place-content: center;
  justify-content: center;
  align-items: center;
  gap: 25px;
  /* border: 3px solid red; */
}
.numbersDiv button {
  width: 50px;
  height: 30px;
}
.seperator {
  display: flex;
  flex-direction: column;
  width: 0px;
  height: 100%;
  border: 3px solid red;
}
/* styles for actions buttons */
.actionsDiv {
  display: grid;
  grid-template-columns: repeat(auto-fill,50px);
  grid-template-rows: repeat(auto-fill, 30px);
  /* border: 3px solid red; */
  gap: 25px;
  margin: -25px;
  width: 70%;
}
.actionsDiv button {
  width: 50px;
  height: 30px;
}
/* styles for text line */
.lineDiv input{
  width: 95%;
  height: 50px;
  font-size: 40px;
}
/* style for clear button */
.clearBtn{
  display: flex;
  align-items: center;
  justify-content: center;
  /* border: 3px solid red; */
  width: 127px;
}
.clearBtn button {
  width: 430px;
}